.works-detail {
    padding-top: 50px;
    padding-bottom: 30px;

    .container {
        .title {
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 50px;
            color: #21243D;
            width: 506px;
            margin-bottom: 30px;

            @include responsive(tablet) {
                width: 339px;
                font-size: 30px;
            }
        }


        .about {
            margin-bottom: 23px;

            .years {
                background-color: $color-primary;
                margin-right: 25px;
            }

            span:last-child {
                font-family: 'Heebo';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;
                color: $color-dark;
            }
        }

        .text {
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 35px;
        }

        h3 {
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 60px;
            color: $color-dark;

            @include responsive(m-phone) {
                font-size: 20px;
            }
        }

        h2 {
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 60px;
            color: $color-dark;

            @include responsive(m-phone) {
                font-size: 26px;
            }
        }

        img {
            width: 100%;
        }
    }
}